* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.contained {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#153677,#11f5a9);
  padding: 10px;
}
.to-do-list {
  width: 100%;
  max-width: 540px;
  background: #fcfcfc;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.to-do-list h2{
    color: darkblue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.to-do-list h2 img{
    width: 30px;
    margin-left: 10px;
}
.taskadd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ebe8e8;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #2fff00;
    color: #1500ff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Fcircle-shadow&psig=AOvVaw0FAsgeFwCqqqj5HzJxnmYm&ust=1682446668536000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCOClvLGQw_4CFQAAAAAdAAAAABAE);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://cdn-icons-png.flaticon.com/512/190/190411.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}